services:
  web:
    build: .
    image: leechlab/djangogramm:latest
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: curl -f http://localhost:80/ping/ || exit 1
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 60s
    working_dir: /Djangogramm
    env_file:
      - .env
    environment:
      - PG_DATABASE_ADDRESS=db
      - IS_DOCKER=true
      - FILL_DATABASE=${FILL_DATABASE}
    volumes:
      - "staticfiles:/Djangogramm/djangogramm/static"
    ports:
      - "8082:80"
    networks:
      - front-tier
      - back-tier
    restart: "always"

  db:
    build: postgres
    image:  leechlab/djangogramm_db:latest
    env_file:
      - .env
    volumes:
      - "db-data:/var/lib/postgresql/data"
    healthcheck:
      test: bash /healthchecks/postgres.sh
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s
    networks:
      - back-tier
    restart: "always"

volumes:
  staticfiles:
  db-data:

networks:
  front-tier:
  back-tier:

x-aws-cloudformation:
  Resources:
    WebTCP80TargetGroup:
      Properties:
        HealthCheckPath: /ping/
        Matcher:
          HttpCode: 200-399
