{% extends "base.html" %}

{% block title %}{{ block.super }} : Tags{% endblock %}
{% block content %}
    <h3>My tags</h3>

    <div id="add_new_tag">

        <form id="tag_form" method="post" enctype="multipart/form-data"> {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Add" />
        </form>
    </div>
    <hr />
    <div>
        <ul>
            {% for item in object_list %}
                <li>
                    {{ item.tag }}
                </li>
            {% empty %}
                <p>No tags available.</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
