{% extends "auth_with_email/inc/_auth_links.html" %}

{% block user_menu %}
    <li class="nav-item dropdown">
        <a class="nav-link  active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user }}
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'auth_with_email:profile' user.pk %}">View profile</a></li>
            <li><a class="dropdown-item" href="{% url 'auth_with_email:profile_edit' %}">Edit profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'posts:current_user_posts_list' %}">My posts</a></li>
            <li><a class="dropdown-item" href="{% url 'posts:current_user_tags_list' %}">My tags</a></li>
        </ul>
    </li>

{% endblock %}
